{% extends 'base.html.twig' %}

{% block title %}New Taches{% endblock %}

{% block body %}
    <h1>Create new Taches</h1>

    {{ include('taches/_form.html.twig') }}

    <a href="/projets/{{tach.getIdProjet().getId()}}/task"> back to list </a>
{% endblock %}
