{% extends 'base.html.twig' %}

{% block title %}New Projets{% endblock %}

{% block body %}
    <h1>Create new Projets</h1>

    {{ include('Projets/_form.html.twig') }}

    <a href="{{ path('app_projets') }}">back to list</a>
{% endblock %}
